.App {
  text-align: center;
}

.App-container {
  min-height: 100vh;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-weight: 800;
  font-size: 3em;
  letter-spacing: -0.025em;;
}

.length-controls {
  display: flex;
  margin-bottom: 20px;
}

.length-controls .LengthControl:not(:first-child) {
  padding-left: 40px;
}

.session-controls {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.session-controls .SessionControl{
  margin: 0 7px;
}
