@import 'styles/variables.scss';

@font-face {
  font-display: swap;
  font-family: 'Karla';
  src: url('./assets/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
}

body {
  background-color: #c4f7f8;
  color: $black;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  border-bottom: 2px solid $dark-red;
  color: $black;
  font-weight: 300;
  padding: 1px 0;
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    transition: all 0.2s !important;
  }

  &:hover {
    border-bottom-color: transparent;
  }
}
