@font-face {
  font-family: 'Karla';
  src: url('./assets/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
}

body {
  background-color: #c4f7f8;
  color: rgb(49, 9, 10);
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
